version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:stretch 

jobs:
  build:
    executor: node-executor
    steps:
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install docsify
          command: 'sudo npm i docsify-cli -g'
      - checkout
      - run:
          name: 'Update the submodule'
          command: 'git submodule update'
      - run:
          name: Copy wiki over to docs
          command: 'ls -la'
