version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:stretch 

jobs:
  build_docs:
    executor: node-executor
    steps:
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install docsify
          command: 'npm i docsify-cli -g'
      - checkout
      - run:
        - name: copy over wiki docs
        - command: cp testwikidocs_sync/*.md docs/

      
