version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest 
    # Triggers: Updates to this repo will trigger this CI script and any edits to the
    # Github Wiki in eshon/testwikisync_doc will trigger via Github webhook.
    # Notes:
    #  Github Wiki Markdown files and image files (but not folder names) in submodule and this repo should be identical
    #  Assumes ${GH_EMAIL}, ${GH_NAME}, ${DOCS_GH_TOKEN} are set in CI environment
    #
    # Also see https://github.com/eshon/docs_umbrella/blob/master/docs/index.html for custom Docsify renderer
    # for Github Wiki markdown for images
    #
    working_directory: ~/docsrepo
    steps:
      - run: Environment Variables check
        command: |
          echo "CIRCLE_PULL_REQUESTS = ${CIRCLE_PULL_REQUESTS}"
          echo "CIRCLE_PULL_REQUEST = ${CIRCLE_PULL_REQUEST}"
          echo "CI_PULL_REQUESTS = ${CI_PULL_REQUESTS}"
          echo "CI_PULL_REQUEST = ${CI_PULL_REQUEST}"
      - run:
          name: Install rsync
          command: 'sudo apt-get update && sudo apt-get -y install rsync'
      - run:
          name: Install docsify
          command: 'sudo npm i docsify-cli -g'
      - checkout
      - run:
          name: 'Sync and update the git submodule'
          command: 'git submodule sync && git submodule update --init --recursive --remote'
      - run:
          name: Configure Git user
          command: |
            git config credential.helper "cache --timeout=120"
            git config --global user.email ${GH_EMAIL}
            git config --global user.name ${GH_NAME}
      - run:
          name: Get timestamps of this repo and submodule, check for diffs, commit new to older
          command: |
            export REPO=docs_umbrella
            export DOCS_DIR=docs
            export SUBMODULE_DIR=testwikidocs
            export SUBMODULE=testwikidocs_sync
            export DOCS_COMMIT_TIME=$(git show -s --format=%ct)
            export WIKI_COMMIT_TIME=$(git --git-dir ${SUBMODULE_DIR}/.git show -s --format=%ct)
            export DIFFTAG=$(diff -r -x '.*' -x '*.html' -x 'images' -x '_images' -x '_*.md' ${DOCS_DIR}/ ${SUBMODULE_DIR}/ | wc -l)
            echo $WIKI_COMMIT_TIME
            echo $DOCS_COMMIT_TIME
            echo $DIFFTAG
            if [ "${WIKI_COMMIT_TIME}" -gt "${DOCS_COMMIT_TIME}" ] && [ "${DIFFTAG}" -ne "0" ]
            then
                echo 'Wiki is newer so if different then copy to and update Docs'
                git pull origin ${CIRCLE_BRANCH}
                git checkout -b doc_changes
                rsync -av --progress --exclude images --exclude "*.git" ${SUBMODULE_DIR}/* ${DOCS_DIR}/
                rsync -av --progress ${SUBMODULE_DIR}/images/* ${DOCS_DIR}/_images/
                ls -la ${DOCS_DIR}
                git add ${DOCS_DIR}
                git status
                git commit --allow-empty -m "Pushing from Wiki webhook via CI [skip ci]"
                git fetch
                git checkout master
                git merge doc_changes
                git push -q https://${DOCS_GH_TOKEN}@github.com/eshon/${REPO}.git ${CIRCLE_BRANCH}
                echo "Pushed Wiki updates to Docs site!"
            fi
            if [ "${DOCS_COMMIT_TIME}" -gt "${WIKI_COMMIT_TIME}" ] && [ "${DIFFTAG}" -ne "0" ]
            then
                echo 'Docs is newer so if different then copy to and update Wiki'
                cd ${SUBMODULE_DIR}
                git remote -v
                git pull origin master
                git checkout -b wiki_changes
                rsync -av --progress --exclude _images --exclude '*.git' --exclude '*.nojekyll' --exclude '*.html' --exclude '_*.md' ../${DOCS_DIR}/* .
                rsync -av --progress ../${DOCS_DIR}/_images/* images/
                ls -la .
                git add .
                git status
                git commit -m "Pushing from Docs repo to Wiki via CI [skip ci]"
                git fetch
                git checkout master
                git merge wiki_changes
                git push -q https://${DOCS_GH_TOKEN}@github.com/eshon/${SUBMODULE}.wiki.git master
                echo "Pushed Doc site updates to Wiki!"
            fi
            if [ "${DIFFTAG}" -eq "0" ]
            then
              echo 'No diffs so nothing to update'
            fi

                    
