version: 2
jobs:
  build:
    docker:
      - image: circleci/node:stretch 
    steps:
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install docsify
          command: 'sudo npm i docsify-cli -g'
      - checkout
      - run:
          name: 'Update the submodule'
          command: 'git submodule update --init --recursive --remote'
      - run:
          name: Copy wiki over to docs
          command: 'cp -Rv testwikidocs/* docs/'
      - run:
          name: Show contents of docs
          command: 'ls -la docs'
      - run:
          name: config user email
          command: 'git config credential.helper "cache --timeout=120"'
      - run:
          name: add new files in /docs directory
          command: 'git add ./docs'
      - run:
          name: commit files
          command: 'git commit --allow-empty -m "Pushing from CI"'
      - run:
          name: push files quietly to avoid showing token in logs
          command: 'git push -q https://${DOCS_GH_TOKEN}@github.com/eshon/docs_umbrella.git master'
                    
