version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest 
    # Triggers: Updates to this repo will trigger this CI script and any edits to the
    # Github Wiki in the eshon/testwikisync_doc repo will trigger this via Github webhook.
    # Github Wiki Markdown files and image files (but not folder names) in submodule and docs should be identical
    #
    # Also see https://github.com/eshon/docs_umbrella/blob/master/docs/index.html for custom Docsify renderer
    # for Github Wiki markdown for images
    #
    working_directory: ~/docsrepo
    steps:
      - run:
          name: Install rsync
          command: 'sudo apt-get update && sudo apt-get -y install rsync'
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install docsify
          command: 'sudo npm i docsify-cli -g'
      - checkout
      - run:
          name: 'Sync and update the git submodule'
          command: 'git submodule sync && git submodule update --init'
      - run:
          name: config global git credential helper
          command: 'git config credential.helper "cache --timeout=120"'
      - run:
          name: config global git user email
          command: 'git config --global user.email ${GH_EMAIL}'
      - run:
          name: config global git user name
          command: 'git config --global user.name ${GH_NAME}'
      - run:
          name: Get timestamps of this repo and submodule, check for diffs, commit new to older
          command: |
            export DOCS_COMMIT_TIME=$(git show -s --format=%ct)
            export WIKI_COMMIT_TIME=$(git --git-dir testwikidocs/.git show -s --format=%ct)
            export DIFFTAG=$(diff -r -x '.*' -x '*.html' -x 'images' -x '_images' -x '_*.md' docs/ testwikidocs/ | wc -l)
            echo $WIKI_COMMIT_TIME
            echo $DOCS_COMMIT_TIME
            echo $DIFFTAG
            if [ "${WIKI_COMMIT_TIME}" -gt "${DOCS_COMMIT_TIME}" ] && [ "${DIFFTAG}" -ne "0" ]
            then
                echo 'Wiki is newer so if different then copy to and update Docs'
                rsync -av --progress --exclude images --exclude "*.git" testwikidocs/* docs/
                rsync -av --progress testwikidocs/images/* docs/_images/
                ls -la docs
                git add docs
                git commit --allow-empty -m "Pushing from Wiki webhook via CI [skip ci]"
                git pull origin master
                git push -q https://${DOCS_GH_TOKEN}@github.com/eshon/docs_umbrella.git master
            fi
            if [ "${DOCS_COMMIT_TIME}" -gt "${WIKI_COMMIT_TIME}" ] && [ "${DIFFTAG}" -ne "0" ]
            then
                echo 'Docs is newer so if different then copy to and update Wiki'
                cd testwikidocs
                git remote -v
                git pull origin master
                git checkout -b wiki_changes
                rsync -av --progress --exclude _images --exclude '*.git' --exclude '*.nojekyll' --exclude '*.html' --exclude '_*.md' ../docs/* .
                rsync -av --progress ../docs/_images/* images/
                ls -la .
                git add .
                git status
                git commit -m "Pushing from Docs repo to Wiki via CI [skip ci]"
                git fetch
                git checkout master
                git merge wiki_changes
                git push -q https://${DOCS_GH_TOKEN}@github.com/eshon/testwikidocs_sync.git master
            fi
            if [ "${DIFFTAG}" -eq "0" ]
            then
              echo 'No diffs so nothing to update'
            fi

                    
